@font-face {
  font-family: fonteGoat;
  src: url("oldschool_pc_font_pack_v2.2_win\ttf - Px (pixel outline)\PxPlus_IBM_BIOS.ttf");
}

body {  
  font-family: fonteGoat;
  margin: 0;
  background-color: #485033; 
  background-image: radial-gradient(circle, #4f5739, #272a1d);
  background-attachment: fixed;
}

.header {
  padding: 10px;
  text-align: center;
  background-color: #485033; 
  background-image: linear-gradient(to bottom right, #4f5739, #3f4233);
  color: black;
  font-size: 30px;
}